<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Master1.Mobile.master.cs" Inherits="NavigationGlimpse.Sample.Master1_Mobile" %>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:ContentPlaceHolder ID="Content" runat="server">
        </asp:ContentPlaceHolder>
    </div>
    </form>
</body>
</html>
