<StateInfo>
	<dialog key="Sample" initial="Page1" path="~/Page1.aspx">
		<state key="Page1" page="~/Page1.aspx" route="Page1"  defaultTypes="maximumRows=int" defaults="maximumRows=10,startRowIndex?int=0" derived="totalRowCount">
			<transition key="Sort" to="Page1"/>
			<transition key="Next" to="Page2"/>
		</state>
		<state key="Page2" page="~/Page2.aspx" route="Page2">
			<transition key="Filter" to="Page2"/>
			<transition key="Sort" to="Page2"/>
			<transition key="Start" to="Page1"/>
		</state>
	</dialog>
	<dialog key="Sample2" initial="Page1">
		<state key="Page1" page="~/Page1.aspx" mobilePage="~/Page1.Mobile.aspx">
			<transition key="Next" to="Page2"/>
		</state>
		<state key="Page2" page="~/Page1.aspx">
			<transition key="Next" to="Page3"/>
		</state>
		<state key="Page3" page="~/Page1.aspx">
			<transition key="Next" to="Page4"/>
		</state>
		<state key="Page4" page="~/Page1.aspx">
			<transition key="Next" to="Page5"/>
		</state>
		<state key="Page5" page="~/Page2.aspx">
			<transition key="Start" to="Page1"/>
		</state>
	</dialog>
	<dialog key="Sample3" initial="Page1">
		<state key="Page1" page="~/Page1.aspx" mobilePage="~/Page1.Mobile.aspx">
			<transition key="Next" to="Page2"/>
		</state>
		<state key="Page2" page="~/Page1.aspx">
			<transition key="Next" to="Page3"/>
		</state>
		<state key="Page3" page="~/Page1.aspx">
			<transition key="Next" to="Page4"/>
		</state>
		<state key="Page4" page="~/Page1.aspx">
			<transition key="Next" to="Page5"/>
		</state>
		<state key="Page5" page="~/Page2.aspx">
			<transition key="Start" to="Page1"/>
		</state>
	</dialog>
	<dialog key="Sample4" initial="Page1">
		<state key="Page1" page="~/Page1.aspx" mobilePage="~/Page1.Mobile.aspx">
			<transition key="Next" to="Page2"/>
		</state>
		<state key="Page2" page="~/Page1.aspx">
			<transition key="Next" to="Page3"/>
		</state>
		<state key="Page3" page="~/Page1.aspx">
			<transition key="Next" to="Page4"/>
		</state>
		<state key="Page4" page="~/Page1.aspx">
			<transition key="Next" to="Page5"/>
		</state>
		<state key="Page5" page="~/Page1.aspx">
			<transition key="Next" to="Page6"/>
			<transition key="Self1" to="Page5"/>
			<transition key="Self2" to="Page5"/>
			<transition key="Self3" to="Page5"/>
			<transition key="Self4" to="Page5"/>
			<transition key="Self5" to="Page5"/>
			<transition key="Self6" to="Page5"/>
			<transition key="Self7" to="Page5"/>
		</state>
		<state key="Page6" page="~/Page1.aspx">
			<transition key="Next" to="Page7"/>
		</state>
		<state key="Page7" page="~/Page2.aspx">
			<transition key="Start" to="Page1"/>
		</state>
	</dialog>
</StateInfo>
