<StateInfo>
	<dialog key="Sample" initial="Page1" path="~/Page1.aspx">
		<state key="Page1" page="~/Page1.aspx">
			<transition key="Sort" to="Page1"/>
			<transition key="Next" to="Page2"/>
		</state>
		<state key="Page2" page="~/Page1.aspx">
			<transition key="Filter" to="Page2"/>
			<transition key="Sort" to="Page2"/>
			<transition key="Back" to="Page1"/>
		</state>
	</dialog>
</StateInfo>
