<StateInfo>
	<dialog key="Sample" initial="Page1" path="~/Page1.aspx">
		<state key="Page1" page="~/Page1.aspx" route="Page1" title="Page 1" defaultTypes="maximumRows=int" defaults="maximumRows=10,startRowIndex?int=0" derived="totalRowCount">
			<transition key="Sort" to="Page1"/>
			<transition key="Sort2" to="Page1"/>
			<transition key="Next" to="Page2"/>
		</state>
		<state key="Page2" page="~/Page2.aspx" route="Page2">
			<transition key="Filter" to="Page2"/>
			<transition key="Sort" to="Page2"/>
			<transition key="Start" to="Page1"/>
		</state>
	</dialog>
	<dialog key="Sample2" initial="Page1">
		<state key="Page1" page="~/Page1.aspx" theme="Theme" mobileTheme="Theme.Mobile" mobilePage="~/Page1.Mobile.aspx" mobileMasters="~/NestedMaster1.Mobile.Master,~/Master1.Mobile.Master">
			<transition key="Next" to="Page2"/>
		</state>
		<state key="Page2" page="~/Page1.aspx" mobileRoute="MobilePage2" masters="~/Master1.Master">
			<transition key="Next" to="Page3"/>
		</state>
		<state key="Page3" page="~/Page1.aspx" masters="~/NestedMaster1.Mobile.Master,~/Master1.Mobile.Master">
			<transition key="Next" to="Page4"/>
		</state>
		<state key="Page4" page="~/Page1.aspx">
			<transition key="Next" to="Page5"/>
		</state>
		<state key="Page5" page="~/Page2.aspx">
			<transition key="Start" to="Page1"/>
		</state>
	</dialog>
	<dialog key="Sample3" initial="Page1">
		<state key="Page1" page="~/Page1.aspx" mobilePage="~/Page1.Mobile.aspx">
			<transition key="Next" to="Page2"/>
		</state>
		<state key="Page2" page="~/Page1.aspx">
			<transition key="Next" to="Page3"/>
		</state>
		<state key="Page3" page="~/Page1.aspx">
			<transition key="Next" to="Page4"/>
		</state>
		<state key="Page4" page="~/Page1.aspx">
			<transition key="Next" to="Page5"/>
		</state>
		<state key="Page5" page="~/Page2.aspx">
			<transition key="Start" to="Page1"/>
		</state>
	</dialog>
	<dialog key="Sample4" initial="Page1">
		<state key="Page1" page="~/Page1.aspx" mobilePage="~/Page1.Mobile.aspx">
			<transition key="Next" to="Page2"/>
		</state>
		<state key="Page2" page="~/Page1.aspx">
			<transition key="Next" to="Page3"/>
		</state>
		<state key="Page3" page="~/Page1.aspx">
			<transition key="Next" to="Page4"/>
		</state>
		<state key="Page4" page="~/Page1.aspx">
			<transition key="Next" to="Page5"/>
			<transition key="Next1" to="Page6"/>
			<transition key="Next2" to="Page6"/>
			<transition key="Next3" to="Page6"/>
			<transition key="Next4" to="Page6"/>
			<transition key="Next5" to="Page6"/>
			<transition key="Next6" to="Page6"/>
			<transition key="Next7" to="Page6"/>
		</state>
		<state key="Page5" page="~/Page1.aspx">
			<transition key="Next" to="Page6"/>
			<transition key="Self1" to="Page5"/>
			<transition key="Self2" to="Page5"/>
			<transition key="Self3" to="Page5"/>
			<transition key="Self4" to="Page5"/>
			<transition key="Self5" to="Page5"/>
			<transition key="Self6" to="Page5"/>
			<transition key="Self7" to="Page5"/>
			<transition key="Self8" to="Page5"/>
			<transition key="Self9" to="Page5"/>
			<transition key="Self10" to="Page5"/>
			<transition key="Self11" to="Page5"/>
			<transition key="Self12" to="Page5"/>
			<transition key="Self13" to="Page5"/>
			<transition key="Self14" to="Page5"/>
			<transition key="Self15" to="Page5"/>
			<transition key="Self16" to="Page5"/>
			<transition key="Self17" to="Page5"/>
			<transition key="Self18" to="Page5"/>
			<transition key="Self19" to="Page5"/>
			<transition key="Self20" to="Page5"/>
			<transition key="Self21" to="Page5"/>
			<transition key="Self22" to="Page5"/>
			<transition key="Self23" to="Page5"/>
			<transition key="Self24" to="Page5"/>
			<transition key="Self25" to="Page5"/>
			<transition key="Self26" to="Page5"/>
		</state>
		<state key="Page6" page="~/Page1.aspx">
			<transition key="Next" to="Page7"/>
		</state>
		<state key="Page7" page="~/Page2.aspx">
			<transition key="Start" to="Page1"/>
		</state>
	</dialog>
	<dialog key="Sample5" initial="Page1">
		<state key="Page1" page="~/Page1.aspx" mobilePage="~/Page1.Mobile.aspx">
			<transition key="Next" to="Page2"/>
		</state>
		<state key="Page2" page="~/Page1.aspx">
			<transition key="Next" to="Page3"/>
		</state>
		<state key="Page3" page="~/Page1.aspx">
			<transition key="Next" to="Page4"/>
		</state>
		<state key="Page4" page="~/Page1.aspx">
			<transition key="Next" to="Page5"/>
		</state>
		<state key="Page5" page="~/Page2.aspx">
			<transition key="Start" to="Page1"/>
		</state>
	</dialog>
</StateInfo>
