<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="glimpse" type="Glimpse.Core.Configuration.Section, Glimpse.Core" />
		<sectionGroup name="Navigation">
			<section name="StateInfo" type="Navigation.StateInfoSectionHandler, Navigation" />
		</sectionGroup>
	</configSections>
	<Navigation>
		<StateInfo configSource="StateInfo.config" />
	</Navigation>
</configuration>